@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

.body {
  justify-content: center;
  background-color: #f6f7fb;
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-bottom: 30px;
  max-width: 100%;
  position: relative;
}
